<% include ./partials/header.ejs %>

<h1>Here's a list of your saved beers!</h1>
<div id="myBeers">
	<% for(var i=0; i<userBeers.length; i++) { %>
		<h2><%= userBeers[i].name %></h2>
		<ul>
			<li><b>ABV: </b> <%= userBeers[i].abv %> % </li>
			<li><b>Description: </b> <%= userBeers[i].description %></li>
			<li><b>Pair with: </b> <%= userBeers[i].food_pairing %></li>
		</ul>
		<br>
		<img src="<%= userBeers[i].image %>">
		<br>
		<a href="/myBeers/<%= userBeers[i]._id %>" class="btn btn-warning">Delete</a>
		<br>
	<% } %>
</div>
	
<% include ./partials/userFoot.ejs %>